# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docview
*.userprefs

# NuGet packages
packages/
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

# MSBuild
*.pidb
*.svclog
*.scc

# Windows image file caches
Thumbs.db
ehthumbs.db
Desktop.ini

# Compiled files
*.dll
*.exe
*.pdb
*.cache
*.ilk
*.map
*.exp
*.lib

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Rider
.idea/

# VS Code
.vscode/
